<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.mapper.TrainClassMapper">

    <resultMap type="TrainClass" id="TrainClassResult">
        <result property="classId"    column="class_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="className"    column="class_name"    />
        <result property="classTip"    column="class_tip"    />
    </resultMap>

    <sql id="selectTrainClassVo">
        select class_id, class_name, class_tip, role_id
        from train_class
    </sql>

    <select id="selectTrainClassList" parameterType="TrainClass" resultMap="TrainClassResult">
        <include refid="selectTrainClassVo"/>
        <where>
            <if test="roleId != null  and roleId != ''"> and role_id = #{roleId}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="classTip != null  and classTip != ''"> and class_tip = #{classTip}</if>
        </where>
    </select>

    <select id="selectTrainClassById" parameterType="Long" resultMap="TrainClassResult">
        <include refid="selectTrainClassVo"/>
        where class_id = #{classId}
    </select>

    <insert id="insertTrainClass" parameterType="TrainClass">
        insert into train_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classId != null">class_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="className != null">class_name,</if>
            <if test="classTip != null">class_tip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classId != null">#{classId},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="className != null">#{className},</if>
            <if test="classTip != null">#{classTip},</if>
         </trim>
    </insert>

    <update id="updateTrainClass" parameterType="TrainClass">
        update train_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="className != null">class_name = #{className},</if>
            <if test="classTip != null">class_tip = #{classTip},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteTrainClassById" parameterType="Long">
        delete from train_class where class_id = #{classId}
    </delete>

    <delete id="deleteTrainClassByIds" parameterType="String">
        delete from train_class where class_id in
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>
