<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysChemicalMapper">
    
    <resultMap type="SysChemical" id="SysChemicalResult">
        <result property="chemicalId"    column="chemical_id"    />
        <result property="chemicalType"    column="chemical_type"    />
    </resultMap>

    <sql id="selectSysChemicalVo">
        select chemical_id, chemical_type from sys_chemical
    </sql>

    <select id="selectSysChemicalList" parameterType="SysChemical" resultMap="SysChemicalResult">
        <include refid="selectSysChemicalVo"/>
        <where>  
            <if test="chemicalType != null  and chemicalType != ''"> and chemical_type = #{chemicalType}</if>
        </where>
    </select>
    
    <select id="selectSysChemicalById" parameterType="Long" resultMap="SysChemicalResult">
        <include refid="selectSysChemicalVo"/>
        where chemical_id = #{chemicalId}
    </select>
        
    <insert id="insertSysChemical" parameterType="SysChemical" useGeneratedKeys="true" keyProperty="chemicalId">
        insert into sys_chemical
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chemicalType != null">chemical_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chemicalType != null">#{chemicalType},</if>
         </trim>
    </insert>

    <update id="updateSysChemical" parameterType="SysChemical">
        update sys_chemical
        <trim prefix="SET" suffixOverrides=",">
            <if test="chemicalType != null">chemical_type = #{chemicalType},</if>
        </trim>
        where chemical_id = #{chemicalId}
    </update>

    <delete id="deleteSysChemicalById" parameterType="Long">
        delete from sys_chemical where chemical_id = #{chemicalId}
    </delete>

    <delete id="deleteSysChemicalByIds" parameterType="String">
        delete from sys_chemical where chemical_id in 
        <foreach item="chemicalId" collection="array" open="(" separator="," close=")">
            #{chemicalId}
        </foreach>
    </delete>
</mapper>